
/* Stories */
html[remove_facebook_stories="true"] div[aria-label="Stories"],

/* Rooms */
html[remove_facebook_rooms="true"] div[data-pagelet="VideoChatHomeUnit"],

html[remove_facebook_newsfeed="true"] .pedkr2u6.tn0ko95a.pnx7fd3z,

html[remove_facebook_top_middle_bar="true"] .pmk7jnqg.h5g66v2i.nezaghv5,

html[remove_facebook_left_bar="true"] .d2edcug0.hpfvmrgz.qv66sw1b.c1et5uql.oi732d6d.ik7dh3pa.fgxwclzu.a8c37x1j.keod5gw0.nxhoafnm.aigsh9s9.d9wwppkn.fe6kdd0r.mau55g9w.c8b282yb.mdeji52x.sq6gx45u.a3bd9o3v.knj5qynh.q66pz984.hzawbc8m,

html[remove_instagram_explore="true"] .mJ2Qv._2Z_Zl.YrkqH,

html[remove_instagram_stories="true"] .zGtbP.IPQK5.VideM,
html[remove_instagram_stories="true"] .zGtbP.VideM,

html[remove_instagram_suggestions="true"] ._8UZ6e,

html[foo="bar"]

{

	display: none;

}


html[remove_instagram_suggestions="true"] ._8Rm4L.vboSt._6E_wP.ccgHY.GZkEI,
html[remove_instagram_suggestions="true"] ._8Rm4L.bq3Mi._6E_wP.ccgHY.l9Ww0,

html[foo="bar"]

{

	visibility: hidden;
	height: 0;
	margin: 0;
	padding: 0;

}